* {
    font-family: 'Acme', sans-serif;
    margin: 0;
    padding: 0;
    outline: none; 
}
html {
    height: 100vh;
}
body {
    background-image: url('../images/camo_images/700_FO69952069_c9d109edb493cb31debb3344d1dc10b4.jpg');    
    background-repeat: repeat; 
    background-size: cover; 
    background-color: slategrey; 
    height: 100vh;
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    /* margin: 20px;  */
    padding: 20px; 
    box-sizing: border-box; 
} 
#choice {
    display: inline-flex;
    flex-direction: row; 
    align-items: baseline;
    margin-bottom: 25px; 
}
#length_36 #length_22 #length_0 {
    flex-grow: 1;
}
#length_36 img {
    max-width: 68%;
    max-height: 68%; 
    margin-left: 25px;
}
#length_36 p {
    margin-left: 25px; 
}

#length_22 img {
    max-width: 85%;
    max-height: 85%; 
    margin-left: -22px;
}
#length_22 p {
    margin-left: -22px;
}
#length_0 img {
    max-width: 90%;
    max-height: 90%; 
}
.modal h2 { 
    text-align: center;
    font-size: xx-large;
    color: lightslategray;
    margin-top: 20px;
}
.modal p {
    font-size: medium;
    color: lightgray;
}
.modal img + p {
    margin: 15px 25px; 
}
.modal img:hover {
    opacity: 0.6; 
    transform: scale(1.1);
    transition: all .2s; 
}

#modal {
    /* display: none;  */
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 50px;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.8); 
    margin-top: 25px; 
}
.modal-content {
    background-color: #fefefe;
    margin: 25% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 75%; 
}
main {
    display: none; 
    flex-direction: row; 
    justify-content: space-between;
    align-items: flex-end; 
    margin-top: 50px; 
    width: 100%; 
}
h1 {
    width: 250px; 
    margin-top: none; 
    opacity: .25;
}
.playerCardCount {
    border: 2px solid slategrey; 
    background-color: #0C17D1;
    text-align: center;
    color: white; 
    font-size: 12px; 
    width: 200px;
    margin-left: 10px; 
    padding: 10px; 
    border-radius: 10px; 
}
.computerCardCount {
    border: 2px solid black; 
    background-color: orangered;
    text-align: center;   
    color: white; 
    font-size: 12px; 
    width: 200px;
    margin-left: 10px; 
    padding: 10px; 
    border-radius: 10px; 
}

.computerCardCount span {
    font-size: 20px;
    font-weight: bolder;
}

.playerCardCount span {
    font-size: 20px;
    font-weight: bolder;
}

.messaging {
    color: whitesmoke; 
    font-size: 36px; 
    font-weight: bolder;
    background-color: rgba (112,128,144,.25); 
    width: 100%; 
    text-align: center; 
    height: 95px;
}
section {
    background-image: url('../images/camo_images/700_FO69952069_c9d109edb493cb31debb3344d1dc10b4.jpg');
    display: grid; 
    align-items: center; 
    justify-content: space-around;
    align-content: bottom;
}
.battlefield { 
    display: flex; 
    margin-bottom: 88px; 
}
#playerBattlefield {
    width: 225px;
    height: 300px; 
}
#computerBattlefield {
    width: 225px;
    height: 300px; 
}
#playerStack {
    width: 225px;
    height: 300px; 
}
#computerStack {
    width: 225px;
    height: 300px; 
}
#player h3 {
    color: white; 
    font-weight: bolder;
    text-align: center;
}
#computer h3 {
    color: white; 
    font-weight: bolder;
    text-align: center; 
}
.btn {
    display: none; 
    font-size: 25px;
    padding: 10px;
    display: flex;
    justify-content: center; 
    align-items: center;
    border-radius: 10px; 
} 
#compare {
    background-color: #6A8572;
    color: #D1D1D1; 
}
#compare:hover {
    color: #6A8572;
    background-color: #D1D1D1;
}

#drawCard {
    background-color: #E8B00C;
    color: #B21508;
}
#drawCard:hover {
    color: #E8B00C; 
    background-color: #B21508;
}
.card {
    width: 200px;
    height: 275px; 
    padding: 5px; 
    margin: 10px;
}
#instructions {
    font-size: larger; 
    text-align: center; 
}

.rotate90 {
    transform: rotateY(90deg);
    transition: all 0.5s;
}

.rotate360 {
    transform: rotateY(360deg);
    transition: all 0.5s;
}
#player {
    margin-right: 30px; 
}
#computer {
    margin-left: 30px; 
}