* {
    font-family: 'Acme', sans-serif;
    margin: 0;
    padding: 0;
}
#choice {
    display: inline-flex;
    flex-direction: row; 
    justify-content: center;
    align-content: baseline;
    align-items: baseline;
    margin-bottom: 25px; 
}
#length_36 #length_22 #length_0 {
    flex-grow: 1;
}
#length_36 img {
    max-width: 68%;
    max-height: 68%; 
    margin-left: 25px;
}
#length_36 p {
    margin-left: 25px; 
}

#length_22 img {
    max-width: 85%;
    max-height: 85%; 
    margin-left: -22px;
}
#length_22 p {
    margin-left: -22px;
}
#length_0 img {
    max-width: 90%;
    max-height: 90%; 
}
.modal h2 { 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: xx-large;
}
.modal p {
    font-size: small;
}
.modal {
    /* display: none;  */
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 50px;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}
.modal-content {
    background-color: #fefefe;
    margin: 25% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 75%; 
}
main {
    background-image: url('../images/camo_images/700_FO69952069_c9d109edb493cb31debb3344d1dc10b4.jpg');    
    background-repeat: repeat; 
    background-size: cover; 
    background-color: slategrey; 
    display: none; 
    min-height: 625px; 
    flex-direction: row; 
    align-items: flex-end; 
}
h1 {
    width: 250px; 
    margin-top: none; 
    opacity: .25;
}
.playerCardCount {
    border: 2px solid black; 
    background-color: yellow;
    width: 50px;
    margin-bottom: 30px;
    margin-left: 15px;      
}
.computerCardCount {
    border: 2px solid black; 
    background-color: orangered;
    width: 50px;
    margin-bottom: 30px;
    margin-right: 11px;   
}
.messaging {
    color: whitesmoke; 
    font-size: 36px; 
    font-weight: bolder;
    background-color: rgba (112,128,144,.25); 
    width: 500px; 
    height: 90px; 
    position: fixed;
    top: 75px;
    left: 35px; 
}
section {
    background-image: url('../images/camo_images/700_FO69952069_c9d109edb493cb31debb3344d1dc10b4.jpg');
    display: grid; 
    align-items: center; 
    justify-content: space-around;
    align-content: bottom;
}
.battlefield { 
    display: flex; 
    position: absolute;
    top: 45%;
    left: 33%;
    justify-content: row;  
}
#playerBattlefield {
    width: 225px;
    height: 300px; 
}
#computerBattlefield {
    width: 225px;
    height: 300px; 
}
#playerStack {
    width: 225px;
    height: 300px; 
}
#computerStack {
    width: 225px;
    height: 300px; 
}
#player {
    position: absolute; 
    left: 2px;  
}
#computer {
    position: absolute;
    right: 5px; 
}  
#player h3 {
    font-weight: bolder;
    text-align: center;
}
#computer h3 {
    font-weight: bolder;
    text-align: center; 
}
#player h4 {
    position: absolute; 
    bottom: 0;
    width: 210px; 
    margin-top: 50px; 
    left: 3px; 
}
#computer h4 {
    position: absolute; 
    bottom: 0;
    width: 210px; 
    margin-top: 25px; 
    right: 3px; 
}
canvas {
    height: 250px;
    width: 250px; 
}
#chartContainer {
    margin-top: 50px; 
    position: fixed; 
    top: 8px; 
    right: 16px; 
    background-color: rgba (0,0,0,.25);
    width: 250px; 
    height: 250px; 
}
#chartContainer h2 {
   position: absolute;
   color: white; 
   text-align: center;
   margin-left: 50px;
}
#compare {
    display: none;
    font-size: 14px; 
    background-color: #A80000;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    justify-content: center; 
    height: 25px; 
    left: 25px;
    margin-left: 400px;
}
#drawCard {
    background-color: #A80000;
    font-size: 14px; 
    margin: 0 auto;
    padding: 5px;
    display: flex;
    justify-content: center; 
    height: 25px;
    right: 25px; 
    margin-right: 350px;
}
.card {
    width: 200px;
    height: 275px; 
    padding: 5px; 
    margin: 10px;
    margin-bottom: 50px;
}
#instructions {
    font-size: larger; 
    text-align: center; 
}